.h1-title{
    color: red;
    text-align: center;
}


.underline-titile{
    color: rgb(36, 213, 36);
}


.italic{
    line-height: 60px;
}


.underline{
    line-height: 20px;
}

.delete{
    line-height: 60px;
}


.digital-marketing{
   width: 250px;
}

iframe{
width: 1200px;
    height: 800px;
}

#divided1{
    background-color: green;
  
    height: 90px;
    color: rgb(255, 251, 251);
    font-size: 40px;
    
}

#name{
    color: green;
    font-size: 30px;
    background-color: yellow;
}


#basictable{

margin-top: 10px;

border: 2px solid red;


}

.table-firsthead{
   
    
    font-size: 30px;
    
    
}


.table-02{
    
}


