.main_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border:gray;
    border-style:solid ;
    border-width: 1px;
    align-items:center;
    height: 50px;
}

.section_1 {
    background-color: pink;
}

.section_2 {
    background-color: pink;
}

