input{

      padding-left: 12px;
      padding-right: 350px;
      border-radius: 35px;
      padding-top: 13px;
      padding-bottom: 13px;
      border: none;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25) ;
      width: 500px;
    
}