#task,#email{
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#email{
    color: rgb(96, 96, 96);
    margin-bottom: 10px;
    
}

#input-text{
    width: 600px;
    height: 40px;
    border-width: 2px ;
    border-color: rgb(96, 96, 96);
    border-radius: 8px;
    border-style: solid;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 30px;
    padding-left: 10px;
}

#discription{
    color:rgb(96, 96, 96); 
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#button-agree-join{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 150px;
    padding-right: 150px;
    border: none;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(83, 104, 208);
    border-radius: 700px;
}
