#avater{
    width: 50px;
    height: 50px;
    object-fit:cover;
    border-radius: 30px;
    vertical-align: middle;
}

#input-text{

    font-size: 18px;
    border: none;
    width: 300px;
    vertical-align: middle;

}

#tweet-button{

    background-color: rgb(29, 155, 240); ;
    color: white;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
}