.p-deals{

            font-family: Arial, Helvetica, sans-serif;
            font-size: 40px;
            font-weight: bold;
            width: 500px;
            margin-bottom: 6px;
        }
        .p-sales{

            font-size: 25px;
            color: red;
            font-weight:500;
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
            margin-top: 0px;
        }