 .headline{

            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size:30px;
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight: bold;
        }
.subtitle{
            margin-top: 0px;
            margin-bottom: 0px;
            margin-top: 3px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(100,100,100);
            font-size: 25px;

        }
 .paragraph{
            margin-top: 0px;
            margin-top: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            width: 450px;
            font-size: 25px;
        }
 .button-get
        {
            background-color: green;
            padding: 10px 18px;
            border: none;
            color: white;
            border-radius: 10px;
            font-size:20px;
            cursor: pointer;
            

        }

.button-get:hover{
   transition:1s;
   background-color: red;
}

.button-get:active{

    background-color: blue;
    transition: 0.12s;
}