.Model{
    font-size: 35px;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.para{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-top: 17px;
    text-align: center;
    
}

.subpara{
    font-style;
    text-decoration: underline;
}