body {
  height: 3000px;
}

div {
  position: absolute;
  right: 10px;
  top: 10px;
  border:none;
}

button {
  background-color:black;
  color: white;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-left: 8px;
  font-size: 14px;
  border-radius: 18px;
  border: none;
}