body
{
  height: 3000px;
}
.container {
  width: 300px;
  height: 150px;
  background-color: gray;
  position:fixed;
  bottom: 10px;
  right: 10px;
}

button {
  background-color:black;
  color: white;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-left: 8px;
  font-size: 14px;
  border-radius: 18px;
  border: none;
  cursor: pointer;
}

.button-closed{
  margin-top: -10px;
  margin-left: -10px;
}

