#division {
    border-style: solid;
    border-color: rgb(26,26,26);
    width: 250px;
    height: 100px;
}

#discription{

    padding-left: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}


#yes-button{
    margin-top: 10px;
    margin-left: 5px;
    
}

#no-button{
    margin-left: 10px;
}